<input type="hidden" name="filtered-tags" value="{{tags}}">
{% for image in images %}
    {% if image.title is not None%}
    <div class="col-md-4 col-6 p-2" id="items">
        <div class="card">
                            {% if image.image_url_as_list != "" %}
                                <img src="{{image.image_url_as_list}}" class="image-thumbail" style="width:100%"><br><br>
                            {% else  %}
                                <img src="{{image.image.url}}" class="image-thumbail" style="width:100%"><br><br>
                            {% endif %}
                            <div class="card-body">
                                <div style="display: flex; justify-content: center;">
                                    <div class="fixed">
                                        <button type="button" class="btn btn-primary btn-md m-2" data-toggle="modal" data-item-id={{image.id}} data-target="#exampleModalshowimmagedata_{{image.id}}">
                                            info  
                                        </button>
                                    </div>
                                    <div class="fixed pt-3 pl-3">
                                        {% if image.image_url_as_list != "" %}
                                        <a   id="{{image.id}}" href="{{image.image_url_as_list}}" download><i class="fa fa-download fa-lg"></i></a>          
                                        {% else %}
                                            <a   id="{{image.id}}" href="{{image.image_image_url_as_list}}" download><i class="fa fa-download fa-lg"></i></a>
                                        {% endif %}
                                    </div>                                    
                                </div>
                            </div>
                            <!-- Model to show single image details -->
                            <div class="modal fade" id="exampleModalshowimmagedata_{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{image.title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                        <div class="d-flex justify-content-center pt-2 hide" id="loader-two-{{image.id}}">
                                            <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                        <div class="modal-body modal-body-{{image.id}}">
                                            Tags:
                                            {% for tag in image.tags.all %}
                                            <span class="align-middle">{{ tag.name }}</span>
                                            {% endfor %}
                                            <br><br>
                                            <div class="container" id="item-{{image.id}}">
                                                {% if image.image_url_as_list != "" %}
                                                    <img src="{{image.image_url_as_list}}" class="image-thumbail" style="width:100%"><br><br>
                                                {% else  %}
                                                    <img src="{{image.image.url}}" class="image-thumbail" style="width:100%"><br><br>
                                                {% endif %}
                                                    <p>Rotate Image</p>
                                                    <a class="clockwisebutton-filter btn-primary p-2 "  data-filter-tags="{{tags}}" data-href="/rotateimage/modal-body-{{image.id}}/{{image.id}}/-90/" model-id="{{image.id}}" data-item-id="{{image.id}}" data-clockwise-id="-90">Clockwise</a>
                                                    <a class="Anticlockwisebutton-filter btn-primary p-2" data-filter-tags="{{tags}}"  data-href="/rotateimage/modal-body-{{image.id}}/{{image.id}}/90/" model-id="{{image.id}}" data-item-id="{{image.id}}" data-clockwise-id="90">AntiClockwise</a>
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                                </div>
                            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}

<!--<script>
    $(document).ready(function(){
        var items = $('#image-cards #items');
        console.log(items)
        var numItems = items.length;
        var perPage = 8;
        items.slice(perPage).hide();
        $('#pagination-container').pagination({
            items: numItems, 
            itemsOnPage:perPage,  
            currentPage: 1,
            hrefTextSuffix: "#page-",
            hrefTextSuffix: '',
            prevText: "Prev", 
            nextText: "Next", 
            cssStyle: "light-theme", 
            onPageClick :function(pageNumber){
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;
                items.hide().slice(showFrom,showTo).show();
            }
        });
    });
</script>-->


   
